#Daily-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 3%;
    position: absolute;
    animation: fadein 1.3s;
    transition-timing-function: ease-in;
}

#Daily-wrapper > * {
    margin: 30px 30px;
}