# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
frontend-old/

# testing
/coverage

# production
/build
/dist
/.next
/out

static/sw.js

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
