# Used as secret for hashing sessions
SESSION_SECRET=example-secret
# The location of the database
DB_HOST=db
# Default port for MySQL / MariaDB
DB_PORT=3306
# User for database connection
DB_USER=root
# Password for database connection
DB_PASS=toor
# The location of redis
REDIS_HOST=redis
# Default port for Redis
REDIS_PORT=6379
# Verification email
OWNER_EMAIL=dumb@me.com
# Verification email password
OWNER_PASS=123456 
# Verifications will be sent to this email
VERIFIER_EMAIL=owner@foo.com
# Port of frontend
FRONTEND_PORT=30
# Port of backend
BACKEND_PORT=8000
# Location to the frontend
FRONTEND_URL=http://frontend:3000
# Location to the backend
BACKEND_URL=http://backend:8000
# Location to the socket connection
SOCKET_URL=http://backend:8000
