{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
        "semi": 2,
        "rules": {
            "quotes": ["error", "single"]
          }
    }
}