.Category-wrapper {
    background-color: #ffffff;
    box-shadow: 0 0 10px 1px #ebebeb;
    text-align: center;
    display: inline-block;
    border-radius: 7px;
}

h2 {
    font-weight: 300;
}

img {
    object-fit: cover;
    width: 256px;
    height: 256px;
    margin: 5px;
}

a {
    text-decoration: none;
    color: #272727;
}

.icons {
    float: left;
    font-size: 1.2em;
    margin-left: 5px !important;
    margin-bottom: 5px !important;
    cursor: pointer;
}