.TopBar-wrapper {
    text-align: center;
    display: inline-block;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    color: white;
    font-size: 2.4em;
    font-style: normal;
    font-weight: 100;
    box-shadow: 0 0 10px 5px rgb(50,50,50);
    overflow: hidden;
    margin: 0;
    padding: 0;
    animation: fadein 1.3s;
    transition-timing-function: ease-in;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#TopBar-home,
#TopBar-menu,
#TopBar-order {
    display: inline-block;
    vertical-align: bottom !important;
}

#TopBar-home {
    width: 33%;
}

#TopBar-menu {
    width: 34%;
}

#TopBar-order {
    width: 33%;
}

.TopBar-navlink {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.TopBar-icon {
    vertical-align: middle !important;
    margin-bottom: 5px;
    font-size: 1em !important;
}

@media screen and (max-width: 500px) {
    .TopBar-icon {
        font-size: 0.8em !important;
    }
}

@media screen and (max-width: 375px) {
    .TopBar-icon {
        font-size: 1em !important;
    }
}