.AdminTopBar-wrapper {
    text-align: center;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 100;
    font-style: normal;
    color: white;
    font-size: 2.4em;
    box-shadow: 0 0 10px 5px #ebebeb;
    margin: 0;
    padding: 0;
}

#AdminTopBar-login,
#AdminTopBar-Register,
#AdminTopBar-dashboard {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #272727;
}

#AdminTopBar-login {
    width: 25%
}

#AdminTopBar-Register {
    width: 25%
}

#AdminTopBar-orders {
    width: 25%
}

#AdminTopBar-products {
    width: 25%
}

.AdminTopBar-navlink {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.AdminTopBar-icon {
    vertical-align: middle !important;
    margin-bottom: 5px;
    font-size: 1em !important;
}

@media screen and (max-width: 500px) {
    .AdminTopBar-icon {
        font-size: 0.8em !important;
    }
}

@media screen and (max-width: 375px) {
    .AdminTopBar-icon {
        font-size: 1em !important;
    }
}