.OrderBar-Wrapper {
    animation: fadein 1.3s;
    transition-timing-function: ease-in;
    height: 5em;
    margin: 0 0 !important;
    position: fixed;
    padding-bottom: 0 !important;
    box-shadow: 0 0 10px 2px rgb(50, 50, 50);
    background-color: #4CAF50;
    color: white;
    font-size: 1.5rem;
    width: 100%;
    bottom: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}